// _footer.scss
footer {
    background-color: #111111;
    padding: 1%;

    .footer-container {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 1em;
        flex-wrap: wrap;

        img {
            width: 150px;
            height: auto;
            margin: 2px;
            padding: 2px;
        }

        .footer-logo {
            display: flex;
            justify-content: center;

            h3 {
                text-align: center;
                font-family: "Sedgwick Ave", cursive;
                font-size: 1.2rem;
            }
        }

        .footer-sections {
            display: flex;
            justify-content: space-between;
            flex: 2;

            .footer-column {
                margin: 0 1em;

                a {
                    color: $text-color-light;
                    @extend %enlaces;
                    transition: color 0.3s;
                    display: flex;
                    margin-bottom: 0.5em
                }

                a:hover {
                    color: $accent-color;
                }

                h4 {
                    margin-bottom: 1em;
                    font-size: 1.2em;
                    text-align: center;
                    color: $accent-color;
                }

                ul {
                    list-style: none;
                    padding: 0;

                    li {
                        margin-bottom: 0.5em;

                        a {
                            color: $text-color-light;
                            @extend %enlaces;
                            display: block;
                            margin-bottom: 0.5em;
                            transition: color 0.3s;

                            &:hover {
                                color: $accent-color;
                            }
                        }
                    }
                }
            }
        }
    }

    .footer-bottom {
        p {
            text-align: center;
            margin-top: 2em;
            padding-top: 1em;
            border-top: 1px solid $background-color-dark;
            color: $text-color;
        }
    }
}