// _header.scss
header {
    background-color: $header-bg;
    padding: 20px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

    img {
        width: 100px;
        height: auto;
        margin-left: 10px;
    }
}

h1 {
    text-align: center;
    margin: 0;
    padding: 0;
    flex: 1;
    font-size: 1.5rem;
    font-family: "Sedgwick Ave", cursive;
    color: $text-color-light;
}

.navbar {
    background-color: $background-color;
    padding: 0;

    .navbar-nav {
        .nav-link {
            color: $text-color-light;
            font-weight: 600;
            text-transform: uppercase;
            transition: color 0.3s ease;

            &.show,
            &.active {
                color: $accent-color;
                font-weight: bold;
            }

            &:hover {
                color: $accent-color;
            }

            .dropdown-menu {
                left: 0;
                right: 0;
                margin-top: 0.5rem;
                z-index: 1000;
                width: 100%;
                background-color: #333;
                border: none;
                border-radius: 0;
            }
        }
    }

    .navbar-brand {
        font-size: 1.5rem;
        color: $accent-color;

        img {
            width: auto;
            height: 10vh;
            margin-left: 30px;
        }
    }

    .navbar-toggler {
        border-color: $accent-color;

        .navbar-toggler-icon {
            filter: brightness(0) invert(1);
        }
    }

    .container-fluid {
        display: flex;
        justify-items: center;
        flex-direction: row;
    }
}

.bg-body-tertiary {
    --bs-bg-opacity: 0;
    background-color: $background-color;
}

.dropdown-menu {
    --bs-dropdown-bg: #333;
    --bs-dropdown-link-color: $text-color-light;
}