main {
    padding: 0;
    background-color: $background-color-dark;

    .hero {
        background: url('../img/hero2.png') no-repeat center;
        height: calc(100vh - 140px);
        margin: 2vh;
        // display: flex;
        // justify-content: center;
        // align-items: center;
        @include flex(flex, center, center);
        text-align: center;
        color: $text-color-light;

        .logo-no-broken {
            width: 180px;
            height: 100px;
        }

        .hero-content {
            position: block;

            h1,
            p {
                font-size: 1.5rem;
                margin: 10px 0 20px;
            }

            .heromain {
                color: black;
                font-size: xx-large;
                text-shadow:
                    -1px -1px 0 white,
                    1px -1px 0 white,
                    -1px 1px 0 white,
                    1px 1px 0 white;
            }
        }
    }
}

// .VideoPane-video {
//     position: absolute;
//     top: 50%;
//     left: 50%;
//     transform: translate(-50%, -50%);
//     height: auto;
//     min-height: 100%;
//     min-width: 100%;
//     width: auto;
// }
// audio, canvas, progress, video {
//     display: inline-block;
//     vertical-align: baseline;
// }
// *, :after, :before {
//     box-sizing: inherit;
// }

// video {
//     object-fit: contain;
//     overflow-clip-margin: content-box;
//     overflow: clip;
// }
// .VideoPane {
//     color: #fff;
//     display: block;
//     position: relative;
// }

.cta-button {
    background-color: $cta-color;
    color: $background-color-dark;
    padding: 10px 20px;
    // text-decoration: none;
    @extend %enlaces;
    font-size: 1.2rem;
    border-radius: $border-radius;
    margin-top: 20px;
    transition: background-color 0.3s ease, color 0.3s ease;

    &:hover {
        background-color: $cta-hover-color;
        color: #FFFFFF;
    }
}

.eventos {
    h2 {
        background-color: black;
        text-align: center;
        padding: 10px;
        margin: 0;
    }

    &-grid {
        // display: flex;
        // justify-content: center;
        @include flex(flex, center, center);
        flex-wrap: wrap;
        gap: 20px;
        padding: 5px;
        width: 100%;

        a {
            // text-decoration: none;
            @extend %enlaces;
            color: $text-color-light;
            display: block;
            transition: transform 0.3s ease, box-shadow 0.3s ease;
            border-radius: 10px;
            overflow: hidden;
            background-color: $background-color-dark;

            &:hover {
                transform: translateY(-10px);
                box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
            }
        }

        img {
            width: auto;
            height: auto;
            border-radius: 10px 10px 0 0;
            display: block;
        }

        h3 {
            margin: 10px;
            font-size: 1.2rem;
            color: $orange-warm;
            text-align: center;

            &:hover {

                color: #FFD700; // Dorado para hover
            }
        }
    }
}

// Products Section
.productos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
    background-color: $background-color-dark;

    div {
        border: 2px solid darken($orange-warm, 10%);
        border-radius: 15px;
        margin: 10px;
        text-align: center;

        h3 {
            text-align: center;
            color: $orange-warm;
            margin: 10px 0;
        }

        img {
            width: auto;
            height: auto;
            padding: 20px;
            align-items: center;
        }

        a {
            // text-decoration: none;
            @extend %enlaces;
            border-radius: 15px;
            color: $text-color-light;
            background-color: $orange-warm;
            margin: 20px;
            padding: 10px;
            display: inline-block;
        }
    }
}

// Miscellaneous Buttons
.quiero-mas {
    // display: flex;
    // justify-content: center;
    @include flex(flex, center, center);
    padding: 10px;
    margin: 20px;
    width: auto;

    .cta-button-mas {
        background-color: $orange-warm;
        color: $background-color-dark;
        padding: 10px 20px;
        // text-decoration: none;
        @extend %enlaces;
        font-size: 1.2rem;
        border-radius: $border-radius;
        margin-top: 20px;
        transition: background-color 0.3s ease, color 0.3s ease;

        &:hover {
            background-color: #FFFFFF;
            color: #000000;
        }
    }
}

// Glory Section
.glorys {
    // display: flex;
    // justify-content: center;
    @include flex(flex, center, center);
    gap: 10px;
    margin: 10px 0 0;
    // align-items: center;
    flex-wrap: wrap;

    img {
        width: 150px;
        height: auto;
        cursor: pointer;
        transition: transform 0.3s ease-in-out;

        &:hover {
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
            transform: scale(1.5);
            z-index: 10;
        }
    }
}

// Who We Are Section
.borde-quienes-somos {
    margin: 5%;
    padding: 40px;
    border-radius: 3px;
    box-shadow: $box-shadow-dark;
    background: #222;
    border: 2px solid $border-color;
    h2,h3,p {
        text-align: center;
        width: auto;
        height: auto;
    }
}

.equipo-raid {
    text-align: center;

    .join-action {
        padding: 10px;
        margin: 10px;
        // text-decoration: none;
        @extend %enlaces;
        color: $orange-warm;
        border: 1px solid $orange-warm;
        border-radius: 15px;
    }
}

.quienes-somos {
    text-align: left;

    h2 {
        font-size: 3vh;
    }

    h3 {
        color: $orange-warm;
        font-size: 2vh;
    }

    .ww {
        text-decoration: underline;
        color: darken($orange-warm, 20%);
    }

    img {
        width: 25%;
        height: auto;
    }

    a {
        @include flex(flex, center, center);
        margin: 20px;
        padding: 10px;
        // border: 2px solid $border-color;
        border-radius: 15px;
        // text-decoration: none;
        @extend %enlaces;
        text-align: center;
    }
}

.nuestra-mision,
.nuestro-equipo,
.fundador {
    margin-top: $margin-top;
    padding: $padding;
    border-radius: $border-radius;
    box-shadow: $box-shadow;
    background: $background-color-dark;
    margin-bottom: 0;
    border: 2px solid $orange-warm;

    p {
        display: block;
        margin: 1em 0;
        unicode-bidi: isolate;
    }
}

.nuestro-equipo-simple {
    margin: 5px 0 0;
    width: auto;
    height: auto;
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente si el contenedor tiene altura suficiente */
    flex-direction: column; /* Asegura que el contenido se apile en columna */

    iframe {
        width: 100%;
        height: 200px;
        padding: 5px;
    }

    // @include flex(flex, none, center);
}

// .borde-equipo {

//     margin: 25px;
//     padding: 40px;
//     border-radius: 3px;
//     box-shadow: $box-shadow-dark;
//     background: #222;
//     border: 2px solid $border-color;
//     display: block;

// }

.img-muchachos {
    display: block;
    padding: 3px;
    max-width: 8vh;
    height: auto;
    border-radius: 50%;
    object-fit: cover;
}

.titulo-fundador {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 30px;
    margin: 0;
    color: $orange-warm;
}

.fundador {
    .muchachos-avatar {
        position: relative;
        overflow: hidden;
        width: 64px;
        border-radius: 50%;
        height: 64px;
        margin-right: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    }

    // display: flex;
    // align-items: center;
    @include flex(flex, none, center);
    margin-bottom: 15px;
}

.teams {
    padding: 2vh;
    margin: auto;
    border: 2px solid $orange-warm;


    h2,
    h3,
    p {
        text-align: start;
    }

    h4,
    p {
        font-size: large;
    }
}

.conteiner-who-we-are {
    padding: auto;
    margin: 20px;

    p {
        font-size: 2vh;
    }
}

.grid-conteiner-teams {
    background-color: #555;
    text-align: center;
    margin: 20px;
    padding: 20px;
}

.titulo-grid {
    text-align: center;
    margin: auto;
    padding: 5px;
    background-color: #1c48b759;
    color: white;
}

.clases {
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 2px 2px;
    background-color: $background-color;
    margin: 10px;

    img {
        width: 30px;
        height: auto;
        margin-left: 10px;
    }
}



.titulo-unete h2 {
    text-align: center;
    text-transform: uppercase;
    color: white;
    padding: 20px;
}

.nuestro-goal {
    background-color: #222;
    padding: 20px;
    margin: 20px;
    
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente si el contenedor tiene altura suficiente */
    flex-direction: column; /* Asegura que el contenido se apile en columna */

    h2,
    h3,
    p {
        text-align: center;
        color: white;
        padding: 20px;
    }
}

.unete-bg {
    padding: 0;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
    -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
}


.shop-titulo {
    text-align: center;
    padding: 10px;
    margin: 20px;

    h2 {
        font-size: 30px;
        padding: 20px;
    }
}

.galeria-guild {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 10px;
    padding: 20px;
    grid-auto-rows: 1fr;

    div {
        // display: flex;
        // align-items: center;
        // justify-content: center;
        @include flex(flex, center, center);
        overflow: hidden;
        padding: 2px;
        aspect-ratio: 1 / 1;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.libro-de-firmas {
    width: auto;
    height: auto;
    margin: 20px;
}