
// Fondo y superficies
$background-color-dark: #1B1B1F; // negro suave (menos plano que #000)
$background-color: #2A2A30;      // gris oscuro para secciones
$card-color: #232326;            // fondos de tarjetas/boxes

// Texto
$text-color-light: #F5F5F5; // blanco humo, legible
$text-color: #B0B0B0;       // gris medio para párrafos
$text-muted: #7A7A7A;       // gris apagado para cosas secundarias

// Colores de acento
$cta-color: #ffffff;        // rojo-anaranjado (botones principales)
$cta-hover-color: #E63A00;  // más oscuro para hover
$accent-color: #FF6F00;     // naranja cálido (detalles, bordes, títulos)
$accent-glow: #ffb347;      // luz/glow cálido (hover de links o bordes activos)

// Bordes y sombras
$border-color: rgba(255, 145, 23, 0.5); // borde naranja translúcido
$box-shadow-dark: 0 4px 12px rgba(0, 0, 0, 0.4);
$shadow-color: rgba(0, 0, 0, 0.4);

// Layout
$border-radius: 6px;
$padding: 32px;
$margin-top: 24px;
$box-shadow: 0 4px 12px $shadow-color;

// Header y nav
$header-bg: #111; // más oscuro que el resto
$nav-hover: $accent-color;

// Definición de variables SCSS para los colores de clase en WoW
$dk: #C41F3B;       // Death Knight - Rojo oscuro
$dh: #A330C9;       // Demon Hunter - Morado
$druid: #FF7D0A;    // Druid - Naranja
$evoker: #33937F;   // Evoker - Verde azulado
$hunter: #ABD473;   // Hunter - Verde
$mage: #69CCF0;     // Mage - Azul claro
$monk: #00FF96;     // Monk - Verde lima
$paladin: #F58CBA;  // Paladin - Rosa
$priest: #FFFFFF;   // Priest - Blanco
$rogue: #FFF569;    // Rogue - Amarillo
$shaman: #0070DE;   // Shaman - Azul oscuro
$warlock: #9482C9;  // Warlock - Púrpura
$warrior: #C79C6E;  // Warrior - Marrón dorado


//* Mixin

@mixin flex($flex, $justify, $aling) {
    display: $flex;
    justify-content: $justify;
    align-items: $aling;
}


//* Extends

%enlaces{
    text-decoration: none;
}

%background {
    background-repeat: no-repeat;
    background-position: 50%;
}

//* Listas

