@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Teko:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sedgwick+Ave&display=swap');

body {
    font-family: "Roboto Condensed", 'Trebuchet MS', 'Tahoma', sans-serif;
    background-color: $background-color-dark;
    overflow-x: hidden;
    color: $text-color-light;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    z-index: 1;
}
